django-mptt
pyjwt==1.7.1
Django==3.1.2
PyMySQL==0.9.3
#psycopg2
djangorestframework==3.11.0
django-rest-auth==0.9.5
django-cors-headers
django-storages==1.7.1
django-gcloud-storage
google-cloud-storage==1.10.0
django-graphql-jwt==0.3.1
python-telegram-bot
gcloud
pycrypto
qrcode
pillow
wheel
gunicorn
graphene-django==2.15.0
graphene
#django-graphql-jwt
graphene-file-upload
#python-ffmpeg-video-streaming
celery
celery-progress
django-graphql-playground
django_graphene_permissions
django-material-admin
#ffmpeg-python==0.1.1
